<a href="https://colab.research.google.com/github/JohnCubides/ArtificialIntelligence/blob/main/Actividad_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [18]:
#Importar librerias

import numpy as np #metodos numericos
import pandas as pd #Manejo datos
import matplotlib.pyplot as plt #Gráfica
import seaborn as sns #Grágica

In [20]:
#Get Data
df = pd.read_csv('https://raw.githubusercontent.com/julihdez36/Inteligencia_artificial/main/Forbes%202000%202022.csv',sep=';')

In [21]:
# AED
df.shape

(2000, 8)

In [22]:
df.columns

Index(['Rank', 'Company Name', 'Country', 'Sales\n($millions)',
       'Profits\n($millions)', 'Assets\n($millions)',
       'Market Value \nAs of 05/12/22 ($m)', 'Unnamed: 7'],
      dtype='object')

In [23]:
#Define Tittle

columnName = ['Rank', 'Name', 'Country', 'Sales', 'Profits', 'Assets', 'MarketValue', 'Unname']
df.columns = columnName
#df.sample(n=6)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Rank         2000 non-null   int64
 1   Name         2000 non-null   object
 2   Country      2000 non-null   object
 3   Sales        2000 non-null   object
 4   Profits      2000 non-null   object
 5   Assets       2000 non-null   object
 6   MarketValue  2000 non-null   object
 7   Unname       0 non-null      float64
dtypes: float64(1), int64(1), object(6)
memory usage: 125.1+ KB

In [24]:
#clear Data
df = df.drop('Unname', axis=1)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Rank         2000 non-null   int64
 1   Name         2000 non-null   object
 2   Country      2000 non-null   object
 3   Sales        2000 non-null   object
 4   Profits      2000 non-null   object
 5   Assets       2000 non-null   object
 6   MarketValue  2000 non-null   object
dtypes: int64(1), object(6)
memory usage: 109.5+ KB